/* LoanHistoryDetails.css */

.loan-history-details {
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #401664;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

label {
    font-weight: bold;
}

p {
    margin: 0;
}

/* Style for individual fields */
.field-label {
    font-weight: bold;
    color: #401664;
}

.field-value {
    margin-left: 10px;
    font-weight: normal;
}
