.loan-queries-faq-container {
    background-image: url('https://wallpapercave.com/wp/cNQ0NLw.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Position the background behind the content */
  }