

.form-container {
  margin-top: 40px;
  margin-bottom: 20px;
}

.register-card {
  /* Set the background color to your desired color */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px; /* Add rounded corners to the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.submit-button {
  background-color: #401664; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 20px; /* Make the button round */
  padding: 10px 20px; /* Add padding to the button */
  cursor: pointer;
  font-weight: bold; /* Make the text bold */
  text-transform: uppercase; /* Convert text to uppercase */
  margin-top: 20px; /* Add margin from the top */
}

.submit-button:hover {
  background-color: #30144a; /* Button background color on hover */
}
