/* footer.css */

/* Footer container styles */
.footer {
  background-color: #5a287d;
  padding: 20px 0;
  text-align: left;
}

/* Footer link styles */
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.footer-link {
  color: white;
  font-weight: bold;
  margin-right: 30px;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Copyright text styles */
.footer span {
  display: block;
  margin-top: 10px;
  margin-bottom : 10px;
  font-size: 14px;
}
